$login-bg-gradient: linear-gradient(
  90deg,
  rgba(19, 106, 138, 0.6) 0%,
  rgba(38, 120, 113, 0.6) 36%
);
$green: rgb(19, 106, 138);
$light-green: #95cccc;
$dark-green:#0b6e6e;
$main-green: #4b7d83;
$green: #064E4E;
$dark-green-gradient:rgba(6, 78, 78, 0.3);
$tab-light-green:#ACC6C6;
$tab-green: #0B6E51;
$box-shadow: rgba(20, 117, 108, 0.65);