@import "../../../styles/variables.scss";

.container-fluid {
  background-color: $light-green;
  border-radius: 40px;
  font-size: 14px;
}

.user-list-header {
  background-color: $main-green;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  border-radius: 15px;
}

.mat-expansion-panel {
  border-radius: 15px;
}

.user-list-info {
  max-height: 914px !important;
  overflow-y: auto;
  font-size: 14px;
}
.user-list-info span {
  font-size: 14px;
  padding: 0px !important;
  margin: 0px !important;
}
mat-panel-title {
  color: #064e4e !important;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
}

/* Change the scrollbar width, color, and corner radius */
::-webkit-scrollbar {
  width: 10px; /* Adjust as needed */
}

::-webkit-scrollbar-thumb {
  background-color: $main-green; /* Adjust the color */
  border-radius: 6px; /* Adjust the corner radius */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Adjust the color */
}

.info_detail {
  border: 2px solid $green;
  padding: 20px;
  border-radius: 24px;
  font-size: 14px;
  color: $green;
  font-family: "Helvetica", sans-serif;
}

.vol_photo {
  background-color: lightgray;
}
.vol_photo p {
  font-weight: bold;
  font-size: 20px;
  color: black;
  font-family: "Helvetica", sans-serif;
}

.info_detail a {
  color: $green;
}

mat-paginator {
  background-color: transparent !important;
  padding: 0px;
  margin: 0px;
}
.mat-mdc-paginator-container {
  padding: 0px;
  margin: 0px;
}

.work_status i {
  font-size: 30px;
  font-weight: light !important;
}

.sidebar {
  background-color: $main-green;
  position: absolute;
  top: 0;
  left: 0;
  width: 542px;
  height: calc(100vh - 40px);
  z-index: 2;
  // display: none;
}

.form-search input[type="text"] {
  width: 400px !important;
  height: 41px !important;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 0px 20px;
}

select,
input[type="text"] {
  width: 100% !important;
  height: 41px !important;
  border: none;
  outline: none;
  border-radius: 12px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  color: $dark-green;
}

input::placeholder {
  color: $dark-green;
  font-weight: bold;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}
option {
  color: $dark-green;
  font-weight: bold;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  padding: 30px 0px !important;
}

#custom-search-form .btn {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -35px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.search-query:focus + button {
  z-index: 3;
}

.menu button {
  background-color: transparent;
  border: none;
  outline: none;
}

.menu button i {
  font-size: 20px;
  color: white;
  rotate: 90deg;
}


.add{
  width: 40px;
  background-color: transparent;
  border:4px solid white;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 12px;
}

.result{
  width: 100% !important;
  height: 41px !important;
  border: none;
  outline: none;
  border-radius: 12px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  color: $dark-green;
}


